/* login.css */

/* General container for the login page */
.auth-screen {
  font-family: 'Georgia', serif; /* Victorian-style serif font */
  background-color: #f9f0e1;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
}

  
  /* Heading for the login form */
  .login-header {
    text-align: center;
    color: #5c3a21; /* Dark brown color */
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Styling for each input field container */
  .input-group {
    margin-bottom: 20px;
  }
  
  /* Labels for the input fields */
 
  
  /* Input fields */
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #8a4b2d; /* Red-brown border */
    border-radius: 5px;
    background-color: #fff; /* White background for the fields */
    color: #5c3a21; /* Dark brown text color */
  }
  
  .input-field:focus {
    border-color: #9b2d20; /* Red border on focus */
    outline: none;
  }
  
  /* Error message styling */
  .error-message {
    color: #9b2d20; /* Red color for error messages */
    font-size: 0.9em;
    margin-top: 10px;
  }
  
  /* Styling for the login button */
  .login-button {
    width: 100%;
    padding: 1px;
    background-color: #9b2d20; /* Red button background */
    color: #d5bf86;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #9b2d20; /* Darker red on hover */
  }
  
  /* Styling for the registration link */
  .register-link-text {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #5c3a21;
  }
  
  /* Styling for the register link */
  .register-link a {
    color: #9b2d20; 
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    background-image: url('natalia-y-f5xddISq428-unsplash.jpg'); 
    background-size: cover;  /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 88vh; /* Full viewport height */
    width: 100%; /* Full width */
  }

 
  